* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #3d3d3d;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
    font-size: 3rem;
    border: 1px solid rgb(87, 0, 116);
    background-color: #d796ff;
}

.botao2 {
    grid-column: span 2;
}

.display {
    margin-top: 3px;
    grid-column: 1/-1;
    background-color: rgba(45, 0, 77, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    color: white;
    font-size: 2.5rem;
}